<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ResetPassword</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" href="../../img/favicon-16x16.png">
  <script src="script.js" defer></script>
</head>

<body>
  <div id="backgroundDiv">
    <div id="backgroundDivLeft"></div>
    <div id="backgroundDivRight">
      <div id="upperCircle"></div>
      <div id="lowerCircle"></div>
    </div>
  </div>

  <div id="loginDivLeft">
    <div class="div-title">
      <h3 class="title">You fools</h3>
    </div>
  </div>

  <div id="loginDivRight">
    <div class="logo-container"><img src="../../img/logo.svg"></div>
    <h3 class="login-title">Enter your Verification Code</h3>
    <form id="formLogin">
      <div id="loginSection">
        <div class="verification-code-div">
          <input class="verification-code-ipt"  type="text" id="code1" maxlength="1" pattern="[0-9]">
          <input class="verification-code-ipt" type="text" id="code2" maxlength="1" pattern="[0-9]">
          <input class="verification-code-ipt" type="text" id="code3" maxlength="1" pattern="[0-9]">
          <input class="verification-code-ipt" type="text" id="code1" maxlength="1" pattern="[0-9]">
        </div>

          <label class="label-back-sign-in">
            <a href="../ForgotPassword/Index.html">Back</a>
          </label>

        <button id="btnSend" type="button" class="btn-send">Send</button>
      </div>
    </form>
  </div>
</body>

</html>