<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" href="../../img/favicon-16x16.png">
  <script type="module" src="../../mockData.js" defer></script>
  <script type="module" src="script.js" defer></script>
</head>

<body>
  <div id="backgroundDiv">
    <div id="backgroundDivLeft"></div>
    <div id="backgroundDivRight">
      <div id="upperCircle"></div>
      <div id="lowerCircle"></div>
    </div>
  </div>

  <div id="loginDivLeft">
    <div class="div-title">
      <h3 class="title">Adventure start here</h3>
      <h6 class="subtitle">Create and account to Join Our Community</h6>
    </div>
  </div>

  <div id="loginDivRight">
    <div class="logo-container"><img src="../../img/logo.svg"></div>
    <h3 class="login-title">Hello! Welcome Back</h3>
    <form id="formLogin">
      <div id="loginSection">
        <label class="login-label login-email">
          <span class="span-email">email</span>
          <input type="email" name="email" class="input input-email" placeholder="Enter your email" />
          <img src="../../img/envelope-icon.png" class="envelope-icon">
          <span class="error" id="email-error"></span>
        </label>
        <label class="login-label login-password">
          <span class="span-password">senha</span>
          <input type="password" name="password" class="input input-password" placeholder="Enter your password" />
          <img src="../../img/lock-icon.png" class="lock-icon">
          <span class="error" id="password-error"></span>
        </label>
        <div class="div-container">
          <label class="login-label-checkbox">
            <input type="checkbox" class="input-checkbox" name="remember"/>
            <span class="span-checkbox">Remember me</span>
          </label>

          <label class="label-reset-password">
            <a href="../ForgotPassword/Index.html">Reset Password!</a>
          </label>
        </div>

        <button id="btnLogin" type="submit" class="btn-continue">Login</button>
        <label class="label-create-account">
          <span class="span-create-account">Dont have an account?</span>
          <a href="../Register/Index.html">Create Account</a>
        </label>
      </div>
    </form>
  </div>
</body>

</html>