@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    margin:0;
}

#backgroundDiv {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#backgroundDivLeft {
    background-color: #5C7CF2;
    width: 50%;
    height: 100%;
}

#backgroundDivRight {
    background-color: #E4E8F2;
    width: 50%;
    height: 100%;
}

#upperCircle {
    border-radius: 50%;
    position: absolute;
    width: 360px;
    height: 35%;
    left: 85%;
    top: -94px;

background: #9FBBFB;
}

#lowerCircle {
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    width: 430px;
    height: 41.5%;
    left: 80%;
    top: 65%;
    background: #E4E8F2;
    border: 40px solid #9FBBFB;
}

#loginDivLeft {
    top: 10%;
    left: 12.5%;
    position: absolute;
    background-color: #5277F7;
    width: 37.5%;
    height: 80%; 
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
}

#loginDivRight {
    top: 10%;
    right: 12.5%;
    position: absolute;
    background-color: #E4E8F2;
    width: 37.5%;
    height: 80%; 
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
}

.logo-container {
    height: 74px;
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: absolute;
    left: 42%;
    top: 15.5%;
    
}

/* não incluir no partial */

.login-title {
    position: absolute;
    top: 27%;
    left: 34%;
    color: #5C5C78;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 30px;
}

#loginSection {
    height: 30%;
    width: 60%;
    position: absolute;
    top: 40%;
    left: 20%;
}

.login-label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 30%;
}

.input {
    border-radius: 5px;
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
}

.login-label > span {
    font-size: large;
    font: 1em;
    cursor: text;
    transition: all 200ms ease;
    text-transform: capitalize;
    color: #797991;
    font-weight: 600;
    margin: 8px 10px;
}

.input::placeholder {
    font-size: medium;
    padding: 30px;
    color: #C4C8D2;
}

.div-container {
    height: 25%;
    display: flex;
}

.login-label-checkbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.input-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #FFFF;
    margin-right: 8px;
    border-radius: 3px;
}

.input-checkbox:checked {
    background-color: #797991;
}

.input-checkbox:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

.span-checkbox {
    color: #797991;
    font-weight: 500;
}

.label-reset-password {
    width: 100%;
    display: flex;
    align-items: center;
}

.label-reset-password > a {
    margin-left: 53%;
    margin-bottom: 14.5%;
    color: #9FB3FD;
}

.btn-continue {
    width: 100%;
    height: 30%;
    font-weight: 400;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    background-color: #6788FF;
    color: #FFFF;
    margin-bottom: 7.5%;
}

.btn-continue:hover {
    background-color: #4168F9;
}

.label-create-account {
    width: 50%;
    margin-left: 16%;
}

.span-create-account {
    font-size: 1.1em;
    color: #474866;
}

.label-create-account > a {
    margin: 5%;
    font-size: 1.1em;
    margin-bottom: 18%;
    color: #9FB3FD;
}

.div-title {
    position: absolute;
    left: 20%;
    top: 12%;
    width: 60%;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 6em;
    line-height: 104px;
    
    color: #FFFFFF;
}

.subtitle {
    position: absolute;
    top: 60%;
    font-style: normal;
    font-weight: 200;
    font-size: 2.5em;
    line-height: 44px;
    color: #FFFFFF;
}

.login-email > img {
    position: absolute;
    top: 17%;
    left: 2%;
}

.login-password > img {
    position: absolute;
    top: 54%;
    left: 2%;
}

#email-error {
    color: rgb(179, 42, 42);
    font-size: 100;
}